.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../images/cinema.jpg") no-repeat;
  background-position: top center;
  background-size: cover;
  &__text {
    color: white;
  }
  &__form--submit {
    cursor: pointer;
  }
}
.main .main__text {
  font-family: "Sansita Swashed", cursive;
  font-size: 50px;
  margin-bottom: 30px;
}
.main .main__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  &--input {
    margin-bottom: 15px;
    height: 25px;
    width: 200px;
    border: 0;
    outline: none;
    border-radius: 4px;
  }
  &--submit {
    height: 30px;
    width: 200px;
    border: 0;
    outline: none;
    border-radius: 7px;
    color: #ffffff;
    background-color: crimson;
    box-shadow: 3px 3px 15px white;
  }
}
.main .container-hidden {
  display: none;
}
