//Se cambian los estilos de la sección "Shows" si la sección de favoritos está activada y se comprueba si está en el lateral o abajo
.js-main-showListFav {
  grid-template-columns: 1fr 1fr 1fr;
  @media all and (max-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
//Se dan los estilos a la sección de favoritos, tanto si está en el lateral como si está abajo. Se dan estilos a sus hijos
.js-main-showFav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  justify-items: center;
  padding: 0px;
  @media all and (max-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.js-main-showFav .js-fav-item {
  background-color: red;
  color: white;
  box-shadow: 5px 5px 15px black;
}

.js-main-containerList .container-fav {
  background-color: white;
  width: 100%;
  height: fit-content;
  padding: 20px;
  border-radius: 5px;
  margin-right: 20px;
  margin-top: 20px;
  .button-fav {
    display: inline-block;
  }
  @media all and (max-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 40px;
    margin-right: 0px;
    border-radius: 0px;
  }
}

.heart {
  cursor: pointer;
  margin-left: 3px;
  color: white;
}

.js-main-showList .container-hidden {
  display: inline-block;
}
